@import 'variables';
@import 'mixins';

body {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.mat-card-header-text {
    margin:  0 !important;
}

// CARD == POSTS

.home-page {
    padding: 20px 0;
    &__title {
        text-align: center;
        margin: 10px 0;
    }
}

.home-card {
    padding: 20px 0;
    &__title {
        font-size: 16px !important;
        font-weight: 700;
    }
    &__label {
        margin: 15px 0;
    }
}

.home-form {
    &__field {
        margin-top: 15px;
    }
}

.admin-page {
    margin: 20px 0;
    text-align: center;
    &__sign {
        font-size: 12px;
        display: inline-block;
        padding: 15px 0;
    }
    &__add-post {
        position: fixed;
        bottom: 20px;
        right: 40px;
    }
}